.box{
    display: flex;
}

.single-box{
    width: 28%;
    background-color: rgb(232, 232, 232);
    margin-left: 12px;
    padding: 25px;
    text-align: center;

}

.single-box img{
    border-radius: 50%;
    width: 220px;
    height: 220px;
}

.box-heading h1{
    font-size: 40px;
    text-align: center;
}
